nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #484848;
  border-radius: 4px;
  color: #fff;
}
nav a:visited, a:link {
    color: #fff;
}
nav a:hover {
  background-color: #0254e5;
}
nav a.active {
  color: #42ccff;
}
