@import com.mohiva.play.silhouette.api.Identity

@(identity: Option[Identity])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@main("Console", identity) {

    <script src='@routes.Assets.at("javascripts/console.js")'></script>

    <div class="container-fluid">
        <div id="cmdWell" class="well input-group">
            <input id="inputCmd" type="text" class="form-control" title="send">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="sendCmd()">Send</button>
            </span>
        </div>

        <div id="closed" style="display: none;">
            <div class="alert alert-info">
                <strong>Connection closed! <a href="@routes.Application.console" class="alert-link">Reconnect</a></strong>
            </div>
        </div>
        <div id="messages"></div>
    </div>

}
