@head = {
    <link rel="import" href="@routes.Application.scongoBoard">
    <script src='@routes.Assets.at("javascripts/game.js")'></script>
}

@main("Game", head) {
    <style>
    canvas {
        background-color: lightgrey;
        height: 80vh;
        width: 100%;
    }

    .btn-primary {
        width: 8em;
        margin: 0.2em 0.1em;
    }

    .content {
        display: none;
    }
    </style>

    <div class="container-fluid" >

        <div id="menu" class="content">
            <div class="well">
            @for(level <- persistence.LevelManager.LEVEL_NAMES) {
                <button type="button" class="btn btn-primary" onclick="showLevel('@level')">@level</button>
            }
            </div>
        </div>

        <div id="level" class="content">
            <canvas></canvas>
        </div>

        <div id="closed" class="content">
            <div class="alert alert-info">
                <strong>Connection closed! <a href="@routes.Application.game" class="alert-link">Reconnect</a></strong>
            </div>
        </div>

        <div class="well">
            <scongo-board></scongo-board>
            <scongo-board></scongo-board>
        </div>

    </div>
}
