<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scongo - Guide</title>
    </head>
    <body>

        <h1>Game Guide</h1>

        <h2>What is Scongo</h2>
        <p>
            Scongo is a simple geometric puzzle game, where you have to fit some geometric elements into a shape, so
            that the hole shape is filled. There are several levels were you can test your spatial sense. In the first
            implementation it's only possible to play against the time. A competitive mode is in favor.
        </p>


        <h2>How to play it</h2>
        <p>Do it.</p>

        <h3>History</h3>

    </body>
</html>
