<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scongo - Guide</title>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
    </head>

    <body>

        <h1>Game Guide</h1>

        <h2>What is Scongo</h2>
        <p>
            Scongo is a simple geometric puzzle game, where you have to fit some geometric blocks into a shape, so<br>
            that the hole shape is filled. There are several levels were you can test your spatial sense. In the first<br>
            implementation it's only possible to play against the time. A competitive mode is in favor.
        </p>


        <h2>How to play it</h2>
        <p>
            It's very simple to play the game. Just choose a level and think about the solution.<br>
            You can move a geometric block with your mouse, if you press the left mouse button on it.<br>
            Maybe you have to spin the geometric block. Than you can try the keys "W", "A", "S" and "D".
        </p>

        <dl>
            <dt>W</dt>
            <dd>Mirror block vertically</dd>
            <dt>A</dt>
            <dd>Rotate block counterclockwise</dd>
            <dt>S</dt>
            <dd>Mirror block horizontally</dd>
            <dt>D</dt>
            <dd>Rotate block clockwise</dd>
        </dl>

        <h3>History</h3>
        <p>
            The original game is called Ubongo and published by Kosmos. Because we implement this game in Scala<br>
            we call it "Scongo".
            If you want to learn more about Ubongo, you can visit <a href="https://de.wikipedia.org/wiki/Ubongo">Wikipedia</a>.
        </p>

    </body>
</html>
