@import com.mohiva.play.silhouette.api.Identity
@(title: String, identity: Option[Identity] = None, head: Html = Html(""))(body: Html)

@isActive(s: String) = @{
    if(s == title) {
        Html("class='active'")
    } else {
        Html("")
    }
}

<!DOCTYPE html>
<html>
    <head>

        <title>Scongo - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("bower_components/webcomponentsjs/webcomponents-lite.min.js")"></script>

        <style>
        .container-fluid {
            width: 100%;
        }
        </style>

        @head

    </head>

    <body>

        <div style="display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Scongo</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li id="navGuide"><a href="@routes.Application.guide" @isActive("Guide")>Guide</a></li>
                        <li id="navGame"><a href="@routes.Application.game" @isActive("Game")>Game</a></li>
                        <li id="navConsole"><a href="@routes.Application.console" @isActive("Console")>Console</a></li>
                        <li id="navComet"><a href="@routes.Application.comet" @isActive("Comet")>Comet</a></li>
                        <li>@if(identity.isEmpty) {
                            anonymous
                        } else {
                            identified
                        }</li>
                    </ul>
                </div>
            </nav>

            @body
        </div>
    </body>

</html>
