@(title: String)(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Scongo - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Scongo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="navMenu"><a href="@routes.Application.menu">Menu</a></li>
                    <li id="navGuide"><a href="@routes.Application.guide">Guide</a></li>
                    <li id="navGame"><a href="@routes.Application.game">Game</a></li>
                    <li id="navConsole"><a href="@routes.Application.console">Console</a></li>
                </ul>
            </div>
        </nav>

        <script>
                $("#nav@title").addClass("active");
        </script>

    @body
    </body>
</html>
