@()
<link rel='import' href='@routes.Assets.at("bower_components/polymer/polymer.html")'>
<link rel='import' href='@routes.Assets.at("bower_components/paper-button/paper-button.html")'>

<dom-module id='scongo-board' attributes="name">

    <template>
        <h1>Test, {{name}}</h1>


        @for(level <- persistence.LevelManager.LEVEL_NAMES) {
            <paper-button raised toggles onclick="showLevel('@level')">@level</paper-button>
        }


        <div id="level" class="content">
            <canvas></canvas>
        </div>

        <div id="closed" class="content">
            <div class="alert alert-info">
                <strong>Connection closed! <a href="@routes.Application.game" class="alert-link">Reconnect</a></strong>
            </div>
        </div>
    </template>

    <style>
    canvas {
        background-color: lightgrey;
        height: 80vh;
        width: 100%;
    }

    .btn-primary {
        width: 8em;
        margin: 0.2em 0.1em;
    }

    .content {
        display: none;
    }
    </style>

</dom-module>


<script>
        // register a new element called proto-element

        Polymer({
            is: "scongo-board",

            properties: {
                socket: WebSocket
            },

            ready: function () {
                this.socket = new WebSocket('ws://localhost:9000/socket');

                this.socket.onopen = () => {
                    console.log("socket opened");
                    this.socket.send("menu");
                };

                this.socket.onerror = msg => {
                    console.log("socket error: " + msg);
                };

                this.socket.onmessage = msg => {
                    this.handleMsg(msg);
                    console.log("message received: " + msg)
                };

                this.socket.onclose = () => {
                    console.log("socket closed")
                };
            },

            showLevel: function (level) {
                this.socket.send("game " + level);
            },

            handleMsg: function (msg) {
                let data = JSON.parse(msg.data);
                //let type = data.jsonClass;
                //delete data.jsonClass;

                switch (data.jsonClass) {
                    case 'ServerMsg$ShowMenu$':
                        $('.content').hide();
                        $('#menu').show();
                        break;
                    case 'ServerMsg$ShowGame':
                        $('.content').hide();
                        $('#level').show();
                        break;
                    default:
                        alert("Unhandled message: " + msg.data)
                }
            }


        });
</script>
