@()

<dom-module id='scongo-menu'>

    <template>

        <style>
            #contentMenu {
                margin: 1em;
            }
        </style>

        <div id="contentMenu" style="display: none">
        @for(level <- persistence.LevelManager.levels.values.flatten) {
            <paper-button raised on-click="levelClicked" level="@level">@level</paper-button>
        }
        </div>

    </template>

    <script>
            Polymer({
                is: "scongo-menu",

                properties: {
                    socketId: String,
                    socket: Object,
                },

                ready: function () {
                    this.socket = document.querySelector('#' + this.socketId);
                },

                show: function() {
                    $('#contentMenu').css("display", "block");
                },

                hide: function() {
                    $('#contentMenu').css("display", "none");
                },

                levelClicked: function (e) {
                    this.socket.sendMsg("game " + e.target.getAttribute("level"));
                },
            });
    </script>

</dom-module>
