@import com.mohiva.play.silhouette.api.Identity
@(identity: Option[Identity])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@head = {
    <link rel="import" href="@routes.Application.scongoSocket">
    <link rel="import" href="@routes.Application.scongoMenu">
    <link rel="import" href="@routes.Application.scongoGame">
    <link rel="import" href="@routes.Application.scongoFinish">
}

@main("Game", identity, head) {

    <style>
    #board {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .navbar-default {
        margin-bottom: 0;
    }
    </style>

    <div id="board">
        <scongo-socket id="socket" menu-id="menu" game-id="game" finish-id="finish"></scongo-socket>
        <scongo-menu id="menu" socket-id="socket"></scongo-menu>
        <scongo-game id="game" socket-id="socket" style="display: flex; flex-direction: column; flex-grow: 1"></scongo-game>
        <scongo-finish id="finish" socket-id="socket"></scongo-finish>
    </div>
}
