@import com.mohiva.play.silhouette.api.Identity
@import models.User
@(title: String, identity: Option[Identity] = None, head: Html = Html(""))(body: Html)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@isActive(s: String) = @{
    if(s == title) {
        Html("class='active'")
    } else {
        Html("")
    }
}

<!DOCTYPE html>
<html>
    <head>
        <title>Scongo - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("bower_components/webcomponentsjs/webcomponents-lite.min.js")"></script>

        <link rel='import' href='@routes.Assets.at("bower_components/polymer/polymer.html")'>
        <link rel='import' href='@routes.Assets.at("bower_components/paper-button/paper-button.html")'>
        <link rel='import' href='@routes.Assets.at("bower_components/paper-dialog/paper-dialog.html")'>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <style>



        </style>

        @head

    </head>

    <body>

        <div id="main-container">
            <div style="flex: 0">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand">Scongo</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li id="navGuide"><a href="@routes.Application.guide" @isActive("Guide")>Guide</a></li>
                            <li id="navGame"><a href="@routes.Application.game" @isActive("Game")>Menu</a></li>
                            <li id="navConsole"><a href="@routes.Application.console" @isActive("Console")>Console</a></li>
                            <li id="navComet"><a href="@routes.Application.comet" @isActive("Comet")>Comet</a></li>
                            <li id="navAngular"><a href="@routes.Application.angular" @isActive("Angular")>Angular</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        @if(identity.isEmpty) {
                            <li id="navSignIn"><a href="@routes.SignInController.view">SignIn</a></li>
                            <li id="navSignUp"><a href="@routes.SignUpController.view">SignUp</a></li>
                        } else {
                            <li id="navUserName"> <span class="label label-default">
                                @identity.get.asInstanceOf[User].name
                            </span></li>
                            <li id="navSignOut"><a href="@routes.Application.signOut">SignOut</a></li>
                        }
                        </ul>

                    </div>
                </nav>
            </div>

            <div class="starter-template row">
                @request.flash.get("error").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@Messages("error")</strong> @msg
                    </div>
                }
                @request.flash.get("info").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-info">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@Messages("info")</strong> @msg
                    </div>
                }
                @request.flash.get("success").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@Messages("success")</strong> @msg
                    </div>
                }
            </div>
            @body
        </div>
    </body>
</html>
