@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

<dom-module id='scongo-menu'>

    <template>

        <style>
                #contentMenu {
                    margin: 1em;
                }

                #wellEasy {
                    background: #74fffd
                }

                #wellNormal {
                    background: #d1ff81
                }

                #wellDifficult {
                    background: #ffbe62
                }

                #wellExtreme {
                    background: #ff8d77
                }

                h3 {
                    margin-top: 0;
                    font-weight: bold;
                    text-align: center;
                }

        </style>

        <div id="contentMenu" style="display: none;">


            <div id="wellEasy" class="well">
                <h3>Easy</h3>
                <div id="easy"></div>
            </div>

            <div id="wellNormal" class="well">
                <h3>Normal</h3>
                <div id="normal"></div>
            </div>

            <div id="wellDifficult" class="well">
                <h3>Difficult</h3>
                <div id="difficult"></div>
            </div>

            <div id="wellExtreme" class="well">
                <h3>Extreme</h3>
                <div id="extreme"></div>
            </div>

        </div>

    </template>

    <script>
            Polymer({
                is: "scongo-menu",

                properties: {
                    socketId: String,
                    socket: Object
                },

                ready: function () {
                    this.socket = document.querySelector('#' + this.socketId);
                },

                show: function (data) {
                    $("scongo-level-button").remove();
                    let $content = $(this.$$("#contentMenu"));
                    $.each(data.info, function (category, names) {
                        $.each(names, function (index, name) {
                            let btn = document.createElement("scongo-level-button");
                            btn.category = category;
                            btn.name = name;
                            Polymer.dom(document.querySelector("#" + category)).appendChild(btn);
                        });
                    });

                    $content.css("display", "block");
                },

                hide: function () {
                    $('#contentMenu').css("display", "none");
                }

            });
    </script>

</dom-module>
