@import play.api.Environment
@import play.api.Mode

@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, env: Environment)
<link rel="import" href="@routes.Application.scongoFinish">
<link rel='import' href='@routes.Assets.at("bower_components/polymer/polymer.html")'>
<link rel='import' href='@routes.Assets.at("bower_components/paper-button/paper-button.html")'>

<dom-module id='scongo-socket'>

    <template>
        <div id="closed" class="container-fluid" style="display: none;
            margin-top: 20px">
            <div class="alert alert-info">
                <strong>Connection closed! <a href="@routes.Application.game" class="alert-link">Reconnect</a></strong>
            </div>
        </div>
    </template>

    <script>
            Polymer({
                is: "scongo-socket",

                properties: {
                    socket: WebSocket,
                    menuId: String,
                    menu: Object,
                    gameId: String,
                    game: Object,
                    finishId: String,
                    finish: Object,
                },

                ready: function () {

                    @defining(env.mode == Mode.Prod) { secure =>
                    this.socket = new WebSocket("@routes.Application.socket.webSocketURL(secure)");
                    }

                    this.menu = document.querySelector('#' + this.menuId);
                    this.game = document.querySelector('#' + this.gameId);
                    this.finish = document.querySelector('#' + this.finishId);

                    this.socket.onopen = () => {
                        console.log("socket opened");
                        this.socket.send("menu");
                    };

                    this.socket.onerror = msg => {
                        console.log("socket error: " + msg);
                    };

                    this.socket.onmessage = msg => {
                        console.log("message received: " + JSON.parse(msg.data).jsonClass);
                        this.handleMsg(msg);
                    };

                    this.socket.onclose = () => {
                        this.menu.hide();
                        this.game.hide();
                        $("#closed").css("display", "block");
                        console.log("socket closed")
                    };
                },

                sendMsg: function (msg) {
                    this.socket.send(msg);
                },

                handleMsg: function (msg) {
                    const data = JSON.parse(msg.data);

                    switch (data.jsonClass) {
                        case 'ServerMsg$ShowMenu$':
                            this.game.hide();
                            this.menu.show(data);
                            break;
                        case 'ServerMsg$ShowGame':
                            this.menu.hide();
                            this.game.show(data);
                            break;
                        case 'ServerMsg$UpdateBlock':
                            this.game.updateBlock(data);
                            break;
                        case 'ServerMsg$LevelFinished':
                            this.finish.show(data);
                            break;
                        default:
                            console.log("Unhandled message: " + msg.data)
                    }
                }
            })
    </script>

</dom-module>
