@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
<link rel='import' href='@routes.Assets.at("bower_components/polymer/polymer.html")'>
<link rel='import' href='@routes.Assets.at("bower_components/paper-button/paper-button.html")'>

<dom-module id='scongo-finish'>

    <template>

        <paper-dialog id="modalFinish" modal>
            <h2>Level Completed</h2>
            <p style="text-align: center">Time: <span id="time"></span>s</p>
            <div class="buttons">
                <paper-button dialog-confirm>OK</paper-button>
                <paper-button dialog-confirm autofocus onclick="socket.sendMsg('menu')">Continue</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
            Polymer({
                is: "scongo-finish",
                properties: {
                    socketId: String,
                    socket: Object
                },

                ready: function () {
                    this.socket = document.querySelector('#' + this.socketId);
                },

                show: function (data) {
                    let time = parseFloat(data.timeMillis / 1000).toFixed(2);
                    $('#time').html(time);
                    setTimeout(() => modalFinish.open(), 500);
                }

            });


    </script>

</dom-module>
